@model Ronak_Banquets_Wedding_Hall.Models.tbl_users

@{
    ViewBag.Title = "ForgotPassword";
    if (TempData["Message"] != null)
    {
        <script>alert('@TempData["Message"]');</script>
    }
}
<h2>ForgotPassword</h2>
<hr />
@using (Html.BeginForm("ForgotPasswordOTP", "Users"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.user_email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control", required = "required" }})
                @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="button" type="submit" value="Request OTP" class="btn btn-default" />
                <div style="display:inline-block;margin-left:20px;">
                    <p id="seconds" style="line-height:0;font-weight:bold;color:red;" hidden="hidden">00</p>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("ForgotPasswordM", "Users"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OTP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_password, new { htmlAttributes = new { @class = "form-control", id = "password", type = "password" } })
                @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.confirm_password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.confirm_password, new { htmlAttributes = new { @class = "form-control", id = "conpassword", type = "password" } })
                @Html.ValidationMessageFor(model => model.confirm_password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10" style="margin-left:20px;">
                @Html.CheckBox("showPassword", false, new { id = "showPassword", @class = "form-check-input", onclick = "showPasswordChecked(this)" })
                <label class="control-label col-md-2">ShowPassword</label>
            </div>
        </div>

        <script>
            function showPasswordChecked(checkbox) {
                document.getElementById('password').type = checkbox.checked ? 'text' : 'password';
                document.getElementById('conpassword').type = checkbox.checked ? 'text' : 'password';
            }
        </script>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "../Home/Index")
</div>

